---
import DashboardLayout from '../../layouts/DashboardLayout.astro';
import { t } from "i18next";
import IndexComponent from "../../modules/dashboard-routes/Index"
---

<DashboardLayout title={t("site.title")}>
	<main>
		<IndexComponent client:only="react" />
	</main>
</DashboardLayout>