---
import Layout from '../layouts/Layout.astro';
import "../modules/dashboard/index"
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import Index from "../modules/dashboard/index"
---

<Layout title={t("site.title")}>
	<main>
		<Index client:only="react" />
		<!-- <div id="root-dashboard"></div> -->
		<!-- <App client:load /> -->
		<!-- <React.StrictMode> -->
			<!-- <ContextProvider client:load > -->
				<!-- <App  client:only="react" /> -->
			<!-- </ContextProvider> -->
		<!-- </React.StrictMode> -->
	</main>
</Layout>