---
import Layout from '../layouts/Layout.astro';
import App from '../modules/landing-page/App';
---

<Layout title='Welcome to ActivateLand'>
	<main>
		<App client:only="react" />
	</main>
</Layout>
