---
import LandingPageLayout from '../layouts/LandingPageLayout.astro';
import App from '../modules/landing-page/App';
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---

<LandingPageLayout title={t("site.title")}>
	<main>
		<App client:only="react" />
	</main>
</LandingPageLayout>
