---
import Layout from '../layouts/Layout.astro';
import App from '../modules/landing-page/App';
import { t } from "i18next";
---

<Layout title={t("site.title")}>
	<main>
		<App client:only="react" />
	</main>
</Layout>
