---
import Layout from '../layouts/AuthLayout.astro';
import Clerk from '../modules/user/components/Clerk';
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---

<Layout title={t("site.title")}>
	<main>
		<Clerk client:only="react" />
	</main>
</Layout>